/* #app {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

.form {
  text-align: center;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.form .error {
  border: 1px solid red;
}

.wheel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.marker {
  position: absolute;
  width: 60px;
  left: 172px;
  top: -20px;
  z-index: 2;
}

.wheel {
  width: 100%;
  height: 100%;
}

.button {
  display: block;
  width: 250px;
  margin: 20px auto;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.blur {
  animation: blur 10s;
}

@keyframes blur {
  0% {
    filter: blur(1.5px);
  }
  80% {
    filter: blur(1.5px);
  }
  100% {
    filter: blur(0px);
  }
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
} */





#app {
  width: 400px;
  margin: 0 auto;
  position: relative;
}

.form {
  text-align: center;
  margin-bottom: 20px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.form .error {
  border: 1px solid red;
}

.wheel-container {
  position: relative;
  width: 400px;
  height: 400px;
}

.marker {
  position: absolute;
  width: 60px;
  left: 172px;
  top: -20px;
  z-index: 2;
}

.wheel {
  width: 100%;
  height: 100%;
}

.error {
  border: 1px solid red;
}


/* .spin-button {
  display: block;
  width: 250px;
  margin: 20px auto;
  background-image: url('button.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -9999px;
  overflow: hidden;
  height: 60px;
  cursor: pointer;
}

.spin-button:hover {
  opacity: 0.8;
} */

.spin-button {
  display: block;
  width: 150px;
  height: 150px;
  margin: 40px auto;
  cursor: pointer;
  vertical-align: middle;
}

.spin-button:hover {
  opacity: 0.8;
}

.blur {
  animation: blur 10s;
}

@keyframes blur {
  0% {
    filter: blur(1.5px);
  }
  80% {
    filter: blur(1.5px);
  }
  100% {
    filter: blur(0px);
  }
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}
